<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @meeting.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @meeting.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @meeting.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @meeting.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @meeting.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @meeting.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @meeting.sunday %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meeting.location %>
</p>


<table>
  <thead>
    <tr>
      <th>Instructor name</th>
      <th>Instructor email</th>
      <th>Meetings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting.instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.instructor_name %></td>
        <td><%= instructor.instructor_email %></td>
        <td><%= instructor.meeting_id %></td>

        <% if current_user.user_type == 'Admin' %>
          <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
          <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.user_type == 'Admin' %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %>
<%end%>
<%= link_to 'Back', @meeting.section %>
