<table>
    <thead>
        <th>Instructor Name</th>
        <th>Recommended for this specific section?</th>
        <th>Comments</th>
    </thead>
    <tbody>
        <%# List all recommendations a grader has, and specify whether they are being recommended for this specific section %>
        <% @recommendations.each do |recommendation| %>
            <tr>
                <td><%= recommendation.instructor_name %></td>
                <td><%= (@section.class_number == recommendation.class_number) ? "Yes" : "No" %></td>
                <td><%= recommendation.comments %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<br />
<%# Back button to go the previous page %>
<% if @prev_page == "section" %>
    <%= link_to 'Back', section_path(@section) %>
<% elsif @prev_page == "showGraders" %>
    <%= link_to 'Back', section_showGraders_path(@section) %>
<% end %>
