<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <% if user_signed_in? %>
        <% if current_user.user_type == 'TA' %>
          <th>Course Number</th>
          <th>Course title</th>
          <th>Course Description</th>
          <th>Grade Requirement</th>
          <th>Sections</th>
        <%end%>
      <%end%>

      <% if user_signed_in? %>
        <% if current_user.user_type == 'Admin' %>
          <th colspan="3"></th>
        <%end%>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% Course.all.each do |course| %>
      <tr>
        <% if user_signed_in? %>
          <% if current_user.user_type == 'TA' %>
            <% if course.course_number.to_s[0] == '3' %>
              <td><%= course.course_number %></td>
              <td><%= course.course_title %></td>
              <td><%= course.course_description %></td>
              <td><%= 'A' %></td>
              <td><%= link_to 'Show Sections', course %></td>
            <%end%>
          <%end%>
        <%end%>

        <% if user_signed_in? %>
          <% if current_user.user_type == 'Admin' %>
            <td><%= link_to 'Show Sections', course %></td>
            <td><%= link_to 'Edit', edit_course_path(course) %></td>
            <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?'} %></td>
          <%end%>
        <%end%>

      </tr>
    <% end %>
