<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>  

<p>
  <strong>Course Title:</strong>
  <%= @course.course_title %>
</p>

<p>
  <strong>Course Description:</strong>
  <%= @course.course_description %>
</p>

<table>
  <thead>
    <tr>
      <th>Section number</th>
      <th>Class number</th>
      <th>Component</th>
      <th>Start date</th>
      <th>End date</th>
      <th>More info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.sections.each do |section| %>
      <tr>
        <td><%= section.section_number %></td>
        <td><%= section.class_number %></td>
        <td><%= section.component %></td>
        <td><%= section.start_date %></td>
        <td><%= section.end_date %></td>
        <td><%= link_to 'Show', section %></td>

        <% if current_user.user_type == 'Admin' %>
          <td><%= link_to 'Edit', edit_section_path(section) %></td>
          <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', home_index_path %>
