<!DOCTYPE html>
<html>
  <head>
    <title>Lab3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'home' %>
  </head>

  <body>
    <%= render 'home/header' %>
    <%# Show notices and alerts if they exist%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# Render the rest of the page using the appropriate view%>
    <%= yield %>
  </body>
</html>
