<%= javascript_pack_tag 'graderapp' %>

For testing purposes, ignore 
<p>graders</p>
<p><%= @graders.length() %></p>
<% @graders.each do |g| %>
    <p><%= g.name %></p>
    <p><%= g.user_id %></p>
<% end %>

<% @availabilities.each do |g| %>
    <p><%= g.grader_id %></p>
    <p><%= g.start_time %></p>
    <p><%= g.end_time %></p>
    <p><%= g.weekday %></p>
<% end %>

<%@courses_graders.each do |item| %>
    <p><%= item.grader_id %></p>
    <p><%= item.course_id %></p>
    <% @course_info = @courses.where(id: item.course_id).pluck(:course_number, :course_title) %>
    <p><%= "#{@course_info[0][0]}: #{@course_info[0][1]}" %></p>
<% end %>

<h1>Grader Application</h1>
<form action="?" method="POST">

<%= render 'form', courses: @courses%>
<input type="submit" value="Submit">
</form>
<%= render 'availability'%>
<%= render 'courseselect'%>
