<%= javascript_pack_tag 'graderapp' %>


<h1>Grader Application</h1>
<form action="?" method="POST">

<%= render 'form', courses: @courses%>
<input type="submit" value="Submit">
</form>
<%= render 'availability'%>
<%= render 'courseselect'%>




<script>
    window.addEventListener('load', (event) => {
        console.log('page is fully loaded');

        var availabilities = <%= @currAvails.to_json.html_safe %>;
        

        console.log(availabilities);

        for (var key in availabilities) {
            console.log(key);
            console.log(availabilities[key]);
            console.log(availabilities[key].weekday)
            window.addNewTimeSlot(availabilities[key].weekday, availabilities[key].start_time, availabilities[key].end_time )
        }



        var courseInterests = <%= @courseInts.to_json.html_safe %>;
        

        console.log(courseInterests);

        for (var key in courseInterests) {
            console.log(key);
            console.log(courseInterests[key]);
            console.log(courseInterests[key].course_id);
            window.addNewCourse(courseInterests[key].course_id);

        }
    });


</script>





