<%= javascript_pack_tag 'graderapp' %>


<h1>Grader Application</h1>
<form action="?" method="POST">

<%= render 'form', courses: @courses%>
<input type="submit" value="Submit">
</form>
<%= render 'availability'%>
<%= render 'courseselect'%>




<script>
   window.addEventListener('load', (event) => {

        var availabilities = <%= @currAvails.to_json.html_safe %>;

        if (availabilities == undefined) {
            window.addNewTimeSlot();
        } else {
            for (var key in availabilities) {
                window.addNewTimeSlot(availabilities[key].weekday, availabilities[key].start_time, availabilities[key].end_time )
            }
        }
        
        

        var courseInterests = <%= @courseInts.to_json.html_safe %>;

        if (courseInterests == undefined) {
            window.addNewCourse();
        } else {
            for (var key in courseInterests) {
                window.addNewCourse(courseInterests[key].course_id);
            }
        }


    });


</script>





