<%= javascript_pack_tag 'time' %>

For testing purposes, ignore 
<p>graders</p>
<p><%= @graders.length() %></p>
<% @graders.each do |g| %>
    <p><%= g.name %></p>
    <p><%= g.user_id %></p>
<% end %>

<% @availabilities.each do |g| %>
    <p><%= g.grader_id %></p>
    <p><%= g.start_time %></p>
    <p><%= g.end_time %></p>
    <p><%= g.weekday %></p>
<% end %>


<h1>Grader Application</h1>
<form action="?" method="POST">

<%= render 'form', courses: @courses%>
<input type="submit" value="Submit">
</form>
<%= render 'availability'%>